@model List<Lab.Demo.MVC.Models.TerritoriesView>

@{
    ViewBag.Title = "Territories Page";
}
<h1>Territories</h1>

<div>
    <h3>@Html.ActionLink("Insert New Territory", "Insert")</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Region ID</th>
            <th scope="col">Action</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var territories in Model)
        {
        <tr>
            <td>@territories.Id</td>
            <td>@territories.Description</td>
            <td>@territories.RegionId</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = territories.Id }, new { onclick = "return confirm('Are you sure you want to delete?')" })</td>
            <td>@Html.ActionLink("Update", "Update", new { id = territories.Id }, new { onclick = "return confirm('Are you sure you want to update?')" })</td>

        </tr>
        }
    </tbody>
</table>
